<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="organizationAction" class="com.isunmoon.oa.action.OrganizationAction"
		scope="prototype">
		<property name="organizationService" ref="organizationService"></property>
	</bean>
	<bean id="userAction" class="com.isunmoon.oa.action.UserAction"
		scope="prototype">
	</bean>
	<bean id="personAction" class="com.isunmoon.oa.action.PersonAction"
		scope="prototype">
		<property name="organizationService" ref="organizationService"></property>
		<property name="personService" ref="personService"></property>
	</bean>


	<bean id="organizationService" class="com.isunmoon.oa.service.impl.OrganizationServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="personService" class="com.isunmoon.oa.service.impl.PersonServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>
